.jumbotron {
  padding-top: 6rem;
  background-color: #f4c4b4;
}

#subscriptions {
  background-color: #f4c4b4;
}

#music {
  background-color: #f4c4b4;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  padding-top: 5rem;
}
