h1 {
  font-family: sans-francisco, helvetica-neue, Playfair Display, BlinkMacSystemFont;
}

h2 {
  font-family: sans-francisco, helvetica-neue, Playfair Display, BlinkMacSystemFont;
}

p {
  font-family: sans-francisco, helvetica-neue, Playfair Display, BlinkMacSystemFont;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #f4c4b4;
}

.mypicture {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mypicture:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

#subscriptions {
  background-color: #f4c4b4;
}

#music {
  background-color: #f4c4b4;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  padding-top: 5rem;
}
